body {
  background-color: darkgrey;
  border-width: 10pt;
  border-style: ridge;
  border-color: darkcyan;
}

header {
  
}

h2 {

}

ul {

}

footer {

}

.puppy {

}

.img-circle {

}

.form {

}

input {

}

.container {

}

.puppy-list {

}