body {
  background-color: bisque;
  border-style: groove;
  border-width: 15pt;
  border-color: darkslateblue;
}

header {
  background-color: darkslateblue;
}

h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 70pt;
  margin: 20pt;
}

main {

}

h2 {

}

ul {

}

footer {

}